# 1) Print all elements of a list using for loop.

In [3]:
States = ['Abia', 'Adamawa', 'Benue', 'Edo', 'Lagos', 'Nassarawa', 'Rivers', 'Imo', 'Osun', 'Taraba', 'Enugu']

for state in States:
    print(state)

Abia
Adamawa
Benue
Edo
Lagos
Nassarawa
Rivers
Imo
Osun
Taraba
Enugu

# 2) Using range(1,101), make two list, one containing all even numbers and other containing all odd numbers.

In [4]:
# creating a list, numbers that contains numbers from 1- 100 using range(1,101)
numbers = list(range(1,101))

print(" ")

# creating a new list, even_numbers from numbers by slicing, where index 1 is the start point and 2, the stepping point. 
even_numbers = (numbers[1::2])
print(even_numbers)

print(" ")

# creating a new list, odd_numbers from numbers by slicing, where index 0 is the start point and 2, the stepping point.
odd_numbers = (numbers[0::2])
print(odd_numbers)
odd_numbers

print(" ")

# confirming the data types
print(type(even_numbers))
print(type(odd_numbers))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

<class 'list'>
<class 'list'>

# 3) A company decided to give bonus of 5% to employee if his/her year of service is more than 5 years. Ask user for their salary and year of service and print the net bonus amount.

### User_1

In [5]:
print("What is your Salary?")
Salary = int(input())
print("How long have you worked at the company?")
Years_worked = int(input())

if Years_worked > 5:
    print("Your net bonus is ", (5/100) * Salary)
else:
     print("You do not qualify for a bonus at this time")

What is your Salary?
325000
How long have you worked at the company?
7
Your net bonus is  16250.0

### User_2

In [6]:
print("What is your Salary?")
Salary = int(input())
print("How long have you worked at the company?")
Years_worked = int(input())

if Years_worked > 5:
    print("Your net bonus is ", (5/100) * Salary)
else:
     print("You do not qualify for a bonus at this time")

What is your Salary?
124000
How long have you worked at the company?
4
You do not qualify for a bonus at this time

# 4) Take input of age of 3 people by user and determine oldest and youngest among them.

In [7]:
age = {"Tunde": 32, "Aigbe": 20, "Deborah": 23}

min(age.values())
max(age.values())

print("The youngest amongst them is " + min(age.keys()), ", who is " + str(min(age.values())) ,"years old.")
print("The oldest amongst them is " + max(age.keys()), ", who is " + str(max(age.values())), "years old.")

The youngest amongst them is Aigbe , who is 20 years old.
The oldest amongst them is Tunde , who is 32 years old.

# 5) A school has following rules for grading system:
i. Below 25 - F

ii. 25 - 45 - E

iii. 46-50 - D

iv. 51 - 60 - C

v. 61 - 80 - B

vi. above 80 - A

# 6) Ask user to enter marks and print the corresponding grade

In [8]:
# creating lists for each grade
A = list(range(81,101))     # between 81-100
B = list(range(60,81))      # between 60-80
C = list(range(51,61))      # between 51-60
D = list(range(45, 51))     # between 45-50
E = list(range(25, 45))     # between 25-44
F = list(range(0,25))       # between 0-24

print("Enter your marks below")
Marks = int(input())

if Marks in A:
    print("Your grade is A")
elif Marks in B:
    print("Your grade is B")
elif Marks in C:
    print("Your grade is C")
elif Marks in D:
    print("Your grade is D")
elif Marks in E:
    print("Your grade is E")
elif Marks in F:
    print("Your grade is F")

Enter your marks below
92
Your grade is A

# 7) Write a Python script to merge two Python dictionaries

In [9]:
Europe = {"Germany": "Berlin", "Russia": "Moscow", "Ukraine": "Kyiv", "Italy": "Rome", "Poland": "Warsaw"}
Europe_1 = {"Greece": "Athens", "France": "Paris", "Spain": "Madrid", "Portugal": "Lisbon", "Ireland": "Dublin"}

Europe.update(Europe_1)
Europe

{'Germany': 'Berlin',
 'Russia': 'Moscow',
 'Ukraine': 'Kyiv',
 'Italy': 'Rome',
 'Poland': 'Warsaw',
 'Greece': 'Athens',
 'France': 'Paris',
 'Spain': 'Madrid',
 'Portugal': 'Lisbon',
 'Ireland': 'Dublin'}

# 8) Write a Python program to get the largest number from a list

In [10]:
weight = [23, 98, 106, 45, 40, 52, 88, 12, 63, 78, 212]

def max_weight(list):
    max = list[0]
    for num in list:
        if num > max:
            max = num
    return max

max_weight(weight)

212

# 9) Write a Python program to remove a key from a dictionary.

In [11]:
Stationary = {"Books": 3, "Pens": 10, "A4 paper": 15, "Tape": 1, "Ruler": 4, "Eraser": 4}
print(Stationary)

Stationary.pop("A4 paper")
print(Stationary)

{'Books': 3, 'Pens': 10, 'A4 paper': 15, 'Tape': 1, 'Ruler': 4, 'Eraser': 4}
{'Books': 3, 'Pens': 10, 'Tape': 1, 'Ruler': 4, 'Eraser': 4}